@media only screen and (max-device-width: 600px) {

    .abov_upper1 {
        padding: 0px;
        margin-bottom: 24px;
    }

    .right_vid {
        width: 375px;
        height: 404px;
        object-fit: cover;
        border-radius: 2px;
        position: static;
        border-radius: 20px 20px 0px 0px;

    }

    .tittle_ab {
        color: var(--Base-Off-Black, #0F0F0F);
        text-align: center;
        font-family: "Geist";
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 44.8px */
        letter-spacing: -1px;
        text-transform: capitalize;
        margin: 40px auto;
    }

    .inter_sub {
        color: var(--Base-Off-Black, #0F0F0F);
        text-align: center;
        font-family: "Geist";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 36px */
        letter-spacing: -0.5px;
        text-transform: capitalize;
    }

    .left_text {
        max-width: 327px;
        margin: auto;
        text-align: center;
        margin-top: 24px;
    }

    .inner_box {
        max-width: 327px;
        text-align: center;
        margin: auto;
    }

    .browwn_how {
        display: flex;
        height: 48px;
        padding: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        margin: auto;
        max-width: 100%;
        width: 100%;
    }

    .left_vid {
        width: 327px;
        height: 200px;
        object-fit: cover;
        border-radius: 2px;
        position: static;
        top: 130px;
        border-radius: 2px;
    }

    .abov_upper2 {
        height: 100%;
        padding-top: 24px;
    }

    .mid_sec_bo {
        display: flex;
        flex-direction: column;
        gap: 146px;
        max-width: 327px;
        margin: 0 auto;
        gap: 56px;

    }

    .bilding {
        position: static;
        height: 252px;
        width: 327px;
    }

    .inter_sub_black {
        color: var(--Base-White, #FFF);
        font-family: "Geist";
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 44.8px */
        letter-spacing: -1px;
        text-transform: capitalize;
    }

    .tb_inner {
        max-width: 327px;
        padding: 32px 0px 21px 0px;
        gap: 24px;
        margin: 0px auto;
    }

    .tb_tittle {
        color: var(--Base-Off-Black, #0F0F0F);
        font-family: "Geist";
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 44.8px */
        letter-spacing: -1px;
        text-transform: capitalize;
    }

    .four_box {
        max-width: 327px;
        gap: 8px;
    }

    .four_bxs {
        gap: 24px;
    }

    .mid_six_box {
        height: 100%;
        margin-bottom: 32px;
        flex-direction: column-reverse;
    }

    .right_vid2 {
        object-fit: cover;
        width: 375px;
        height: 300px;
    }

    .third_box3 {
        position: relative;
    }

    .pattenn {
        position: absolute;
        bottom: 10px;
    }

    .browwn_how {
        font-size: 12px;
    }

    .browwn_how:before {
        font-size: 12px;

    }

















}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1348px) {

    .right_vid {
        width: 550px;
        height: 458px;
    }

    .left_vid {
        width: 130px;
        height: 190px;
        object-fit: cover;
        border-radius: 2px;
        position: absolute;
        top: 155px;
    }

    .inner_box {
        max-width: 600px;
        text-align: center;
    }

    .tittle_ab {
        color: var(--Base-Off-Black, #0F0F0F);
        font-family: "Geist";
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -1px;
        text-transform: capitalize;
        margin-bottom: 60px;
        text-align: left;
        margin-left: 104px;
    }

    .inter_sub {
        color: var(--Base-Off-Black, #0F0F0F);
        font-family: "Geist";
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -1px;
        text-transform: capitalize;
        margin-bottom: 0px;
    }

    .tb_inner {
        display: flex;
        max-width: 600px;
        padding: 18px;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        flex-shrink: 0;
    }


    .tb_tittle {
        color: var(--Base-Off-Black, #0F0F0F);
        font-family: "Geist";
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -1px;
        text-transform: capitalize;
        margin-bottom: 0px;
    }


    .four_bxs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 42px;
    }

    .four_box {
        display: flex;
        max-width: 220.5px;
        height: 148px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .fb_tittle {
        color: var(--Base-Off-Black, #0F0F0F);
        font-family: "Geist";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.5px;
        text-transform: capitalize;
        margin-bottom: 0px;
    }

    .fb_text {
        color: var(--Brand-gold, #9E8361);
        font-family: "Geist";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-bottom: 0px;
    }

    .right_vid2 {
        width: 500px;
    }




}



@media only screen and (min-device-width: 1349px) and (max-device-width: 1439px) {
    .left_vid {
        width: 130px;
        height: 190px;
        object-fit: cover;
        border-radius: 2px;
        position: absolute;
        top: 155px;
    }

    .inner_box {
        max-width: 600px;
        text-align: center;
    }

    .tittle_ab {
        color: var(--Base-Off-Black, #0F0F0F);
        font-family: "Geist";
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -1px;
        text-transform: capitalize;
        margin-bottom: 60px;
        text-align: left;
        margin-left: 104px;
    }

    .inter_sub {
        color: var(--Base-Off-Black, #0F0F0F);
        font-family: "Geist";
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -1px;
        text-transform: capitalize;
        margin-bottom: 0px;
    }

    .tb_inner {
        display: flex;
        max-width: 600px;
        padding: 18px;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        flex-shrink: 0;
    }


    .tb_tittle {
        color: var(--Base-Off-Black, #0F0F0F);
        font-family: "Geist";
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -1px;
        text-transform: capitalize;
        margin-bottom: 0px;
    }


    .four_bxs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 42px;
    }

    .four_box {
        display: flex;
        max-width: 220.5px;
        height: 148px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .fb_tittle {
        color: var(--Base-Off-Black, #0F0F0F);
        font-family: "Geist";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.5px;
        text-transform: capitalize;
        margin-bottom: 0px;
    }

    .fb_text {
        color: var(--Brand-gold, #9E8361);
        font-family: "Geist";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-bottom: 0px;
    }

    .right_vid2 {
        width: 500px;
    }
}

@media only screen and (min-device-width: 1440px) and (max-device-width: 1499px) {
    .left_vid {
        width: 130px;
        height: 190px;
        object-fit: cover;
        border-radius: 2px;
        position: absolute;
        top: 155px;
    }

    .inner_box {
        max-width: 600px;
        text-align: center;
    }

    .tittle_ab {
        color: var(--Base-Off-Black, #0F0F0F);
        font-family: "Geist";
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -1px;
        text-transform: capitalize;
        margin-bottom: 60px;
        text-align: left;
        margin-left: 104px;
    }

    .inter_sub {
        color: var(--Base-Off-Black, #0F0F0F);
        font-family: "Geist";
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -1px;
        text-transform: capitalize;
        margin-bottom: 0px;
    }

    .tb_inner {
        display: flex;
        max-width: 600px;
        padding: 18px;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        flex-shrink: 0;
    }


    .tb_tittle {
        color: var(--Base-Off-Black, #0F0F0F);
        font-family: "Geist";
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -1px;
        text-transform: capitalize;
        margin-bottom: 0px;
    }


    .four_bxs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 42px;
    }

    .four_box {
        display: flex;
        max-width: 220.5px;
        height: 148px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .fb_tittle {
        color: var(--Base-Off-Black, #0F0F0F);
        font-family: "Geist";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.5px;
        text-transform: capitalize;
        margin-bottom: 0px;
    }

    .fb_text {
        color: var(--Brand-gold, #9E8361);
        font-family: "Geist";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-bottom: 0px;
    }

    .right_vid2 {
        width: 500px;
    }
}

@media only screen and (min-device-width: 1500px) and (max-device-width: 1599px) {
    .left_vid {
        width: 130px;
        height: 190px;
        object-fit: cover;
        border-radius: 2px;
        position: absolute;
        top: 155px;
    }

    .inner_box {
        max-width: 600px;
        text-align: center;
    }

    .tittle_ab {
        color: var(--Base-Off-Black, #0F0F0F);
        font-family: "Geist";
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -1px;
        text-transform: capitalize;
        margin-bottom: 60px;
        text-align: left;
        margin-left: 104px;
    }

    .inter_sub {
        color: var(--Base-Off-Black, #0F0F0F);
        font-family: "Geist";
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -1px;
        text-transform: capitalize;
        margin-bottom: 0px;
    }

    .tb_inner {
        display: flex;
        max-width: 600px;
        padding: 18px;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        flex-shrink: 0;
    }


    .tb_tittle {
        color: var(--Base-Off-Black, #0F0F0F);
        font-family: "Geist";
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -1px;
        text-transform: capitalize;
        margin-bottom: 0px;
    }


    .four_bxs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 42px;
    }

    .four_box {
        display: flex;
        max-width: 220.5px;
        height: 148px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .fb_tittle {
        color: var(--Base-Off-Black, #0F0F0F);
        font-family: "Geist";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.5px;
        text-transform: capitalize;
        margin-bottom: 0px;
    }

    .fb_text {
        color: var(--Brand-gold, #9E8361);
        font-family: "Geist";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-bottom: 0px;
    }

    .right_vid2 {
        width: 500px;
    }
}

@media only screen and (min-device-width: 1600px) and (max-device-width: 1799px) {
    .left_vid {
        width: 130px;
        height: 190px;
        object-fit: cover;
        border-radius: 2px;
        position: absolute;
        top: 155px;
    }

    .inner_box {
        max-width: 600px;
        text-align: center;
    }

    .tittle_ab {
        color: var(--Base-Off-Black, #0F0F0F);
        font-family: "Geist";
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -1px;
        text-transform: capitalize;
        margin-bottom: 60px;
        text-align: left;
        margin-left: 104px;
    }

    .inter_sub {
        color: var(--Base-Off-Black, #0F0F0F);
        font-family: "Geist";
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -1px;
        text-transform: capitalize;
        margin-bottom: 0px;
    }

    .tb_inner {
        display: flex;
        max-width: 600px;
        padding: 18px;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        flex-shrink: 0;
    }


    .tb_tittle {
        color: var(--Base-Off-Black, #0F0F0F);
        font-family: "Geist";
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -1px;
        text-transform: capitalize;
        margin-bottom: 0px;
    }


    .four_bxs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 42px;
    }

    .four_box {
        display: flex;
        max-width: 220.5px;
        height: 148px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .fb_tittle {
        color: var(--Base-Off-Black, #0F0F0F);
        font-family: "Geist";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.5px;
        text-transform: capitalize;
        margin-bottom: 0px;
    }

    .fb_text {
        color: var(--Brand-gold, #9E8361);
        font-family: "Geist";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-bottom: 0px;
    }

    .right_vid2 {
        width: 500px;
    }
}

@media only screen and (min-device-width: 1800px) and (max-device-width: 1919px) {}

@media only screen and (min-device-width: 1921px) and (max-device-width: 2040px) {}

@media only screen and (min-device-width: 2040px) and (max-device-width: 2240px) {}

@media only screen and (min-device-width: 2240px) and (max-device-width: 2560px) {}