/* Abouts Us */
.abov_upper1 {
  position: relative;
  overflow: visible;
  padding-top: 135px;
  background-color: var(--Base-Off-White, #FAFAFA);
  align-self: stretch;
  margin-bottom: 100px;


}


.inner_box {
  max-width: 1041px;
  margin: 0 auto;
  text-align: center;
}

.tittle_ab {
  color: var(--Base-Off-Black, #0F0F0F);
  font-family: "Geist";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 89.6px */
  letter-spacing: -1px;
  text-transform: capitalize;
  margin-bottom: 104px;
  text-align: left;
}

.left_text {
  display: flex;
  max-width: 611px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  text-align: left;
  margin-left: 90px;
}

.left_text_black {
  display: flex;
  max-width: 611px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  text-align: left;
}


.inter_sub {
  color: var(--Base-Off-Black, #0F0F0F);
  font-family: "Geist";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 56px */
  letter-spacing: -1px;
  text-transform: capitalize;
  margin-bottom: 0px;
}

.subb_light {
  color: var(--Brand-gold, #9E8361);
  font-family: "Geist";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  margin-bottom: 0px;
}

.browwn_how {
  display: flex;
  max-width: 300px;
  height: 64px;
  padding: 24px 91px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background: var(--Brand-gold, #9E8361);
  color: var(--Base-White, #FFF);
  text-align: center;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-bottom: 0px;
  border: none;
}

.right_vid {

  position: absolute;
  width: 703px;
  height: 502px;
  border-radius: 2px;
  object-fit: cover;
  right: 0px;
  bottom: -70px;
}

.left_vid {
  width: 238px;
  height: 326px;
  object-fit: cover;
  border-radius: 2px;
  position: absolute;
  top: 155px;
}

.top_img {
  position: absolute;
  top: 155px;
  right: 0px;
}

.abov_upper2 {
  background-color: var(--Base-00, #1F1F1F);
  height: 600px;
  overflow: visible;
}

.inter_sub_black {
  color: var(--Base-White, #FFF);
  font-family: "Geist";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 56px */
  letter-spacing: -1px;
  text-transform: capitalize;
  margin-bottom: 0px;
}

.subb_light_black {
  color: var(--Base-04, #E9E9E9);
  font-family: "Geist";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  margin-bottom: 0px;

}

.mid_sec_bo {
  display: flex;
  gap: 146px;
  max-width: 1310px;
  margin: 0 auto;
}

.inner_box_black{
  max-width: 1041px;
  text-align: center;
  margin-left: auto;
}

.img {
  position: relative;
}

.bilding {
  position: absolute;
  top: -166px;
}