body {
      background-color: #ffffff;
      font-family: Arial, sans-serif;
    }

    .policy-wrapper {
      
      margin: auto;
      display: flex;
      max-width: 1200px;
      padding: 104px 0;
      flex-direction: column;
      gap: 40px;
      align-self: stretch;
    }

    h1 {
      color: var(--Base-Off-Black, #0F0F0F);

      margin: 0px;
      font-family: Geist;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 56px */
      letter-spacing: -1px;
      text-transform: capitalize;
    }

    .updated-text {
      color: var(--Brand-gold, #9E8361);

      
      font-family: Geist;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 32.4px; /* 180% */
    }
    
    p, ul, li {
      color: var(--Base-01, #383838);
      margin-bottom: 0px;
      font-family: Geist;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
    }

    .upper-text{
      color: var(--Base-01, #383838);
      font-family: Geist;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }


    h5 {
      color: var(--Base-01, #383838);
      font-family: Geist;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      margin: 0px;
    }

    @media (max-width: 576px) {
      .policy-wrapper {
        padding: 30px 15px;
      }
      h1 {
        font-size: 1.7rem;
      }
    }