

.policy-wrapper {
      
  margin: auto;
  display: flex;
  max-width: 1200px;
  padding: 104px 0;
  flex-direction: column;
  gap: 10px;
  align-self: stretch;
}

.policy-wrapper .header-text ,h1 {
  color: var(--Base-Off-Black, #0F0F0F);
  margin: 0px;
  font-family: Geist;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 56px */
  letter-spacing: -1px;
  text-transform: capitalize;
}

.policy-wrapper .header-text .update-text {
  color: var(--Brand-gold, #9E8361);
  font-family: Geist;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.4px;
}


.policy-wrapper .upper-text {
  color: var(--Base-01, #383838);
  margin-bottom: 0px;
  font-family: Geist;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.policy-wrapper .upper-text{
  color: var(--Base-01, #383838);
  font-family: Geist;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}


.policy-wrapper .h5 {
  color: var(--Base-01, #383838);
  font-family: Geist;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin: 0px;
}

@media (max-width: 576px) {
  .policy-wrapper {
    padding: 30px 15px;
  }
  .policy-wrapper .h1 {
    font-size: 1.7rem;
  }
}