.mobile_none{
    display: block;
}
.desktop_none{
    display: none;
}
.service_s1{
    padding: 0px;
    position: relative;
}
.service_c1{
    position: absolute;
    width: 100%;
    bottom: 6px;
}
.service_s1textbar{
    display: flex;
    max-width: 900px;
    padding: 24px 24px 0 24px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    gap: 40px;
    border: 1px solid var(--Brand-gold, #9E8361);
    border-bottom: none;
}
.service_s1textbarinner{
    display: flex;
    padding: 64px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background: var(--Base-White, #FFF);
}
.service_s1title{
    color: var(--Base-Off-Black, #0F0F0F);
    text-align: center;
    font-family: Geist;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -1px;
    text-transform: capitalize;
    margin: 0px;
}
.service_s1subtitle{
    color: var(--Brand-gold, #9E8361);
    text-align: center;
    font-family: Geist;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32.4px;
    margin: 0px;
}
.service_s1btn{
    display: flex;
    width: 300px;
    height: 64px;
    padding: 30px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background: var(--Brand-gold, #9E8361);
    color: var(--Base-White, #FFF);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}
.service_s1btn:hover{
    border: 1px solid #9E8361;
    background: #FFFFFF;
    color: #000000;
}
.service_s2{
    padding: 104px 0px;
}
.service_c2{
    display: flex;
    flex-direction: column;
    padding: 0px;
}
.service_c2card1{
    display: flex;
    flex-direction: row;
}
.service_c2card1textbar{
    display: flex;
    min-width: 600px;
    padding: 43px 52px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border: 1px solid var(--Base-04, #E9E9E9);
    background: var(--Base-Off-White, #FAFAFA);
}
.service_cardtitle{
    color: var(--Base-Off-Black, #0F0F0F);
    font-family: Geist;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -1px;
    text-transform: capitalize;
    margin: 0px;
}
.service_cardsubtitle{
    color: var(--Base-02, #666);
    font-family: Geist;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0px;
}
.service_c2card1imgbar{
    padding: 0px 0px 24px 24px;
}
.service_c2card1imgbar video{
    object-fit: cover;
    object-position: center;
    height: -webkit-fill-available;
}
.service_c2card2{
    display: flex;
    flex-direction: row;
}
.service_c2card2textbar{
    display: flex;
    min-width: 600px;
    padding: 43px 52px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border: 1px solid var(--Base-04, #E9E9E9);
    background: var(--Base-Off-White, #FAFAFA);
}
.service_c2card2imgbar{
    padding: 24px 24px 0px 0px;
}

.service_c2card2imgbar video{
    object-fit: cover;
    object-position: center;
    height: -webkit-fill-available;
}
.service_s2vline1{
    top: 0px;
    position: absolute;
    width: 1px;
    right: 50%;
    z-index: -1;
}
.service_s2vline2{
    bottom: 0px;
    position: absolute;
    width: 1px;
    right: 50%;
    z-index: -1;
}
.process-section {
  padding: 0px;
}

.process-container {
  display: flex;
  align-items: flex-start;
}

/* LEFT SIDE */
.process-left {
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 144px 104px 104px 104px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex: 1 0 0;
}

.process-left video {
  width: 432px !important;
  height: 492px;
  object-fit: cover;
  transform: rotateY(180deg);
}

/* RIGHT SIDE */
.process-right {
  padding-left: 60px;
  width: 100%;
}

.process-item {
  padding: 80px 0;
  border-bottom: 1px solid #eee;
}



/*****************/
/*  Responsive  */
/***************/
@media (max-width: 700px) {
    .mobile_none{
        display: none;
    }
    .desktop_none{
        display: block;
    }
    .service_s1video{
        height: 400px;
        object-fit: cover;
        object-position: center;
    }
    .service_c1{
        position: sticky;
    }
    .service_s1textbar{
        border: none;
        padding: 0px;
    }
    .service_s1textbarinner{
        padding: 32px 24px;
    }
    .service_s1title{
        font-size: 32px;
    }
    .service_s1btn{
        width: 100%;
        height: 48px;
        padding: 23px 24px;
        font-size: 12px;
    }
    .service_s2{
        padding: 24px;
    }
    .service_c2card1{
        flex-direction: column-reverse;
    }
    .service_c2card2{
        flex-direction: column;
    }
    .service_c2card1imgbar{
        padding: 0px;
    }
    .service_c2card2imgbar{
        padding: 0px;
    }
    .service_c2card1textbar{
        min-width: 100%;
        padding: 32px 24px;
        margin-top: -7px;
    }
    .service_c2card2textbar{
        min-width: 100%;
        padding: 32px 24px;
        margin-top: -7px;
    }
    .service_c2card1imgbar video{
        height: 300px;
    }
    .service_c2card2imgbar video{
        height: 300px;
    }
    .service_c2{
        gap: 24px;
    }
}
@media (min-width: 1000px) and (max-width: 1099px) {
    .service_s1textbar{
        max-width: 800px;
    }
    .service_s1textbarinner{
        padding: 40px;
    }
    .service_s1title{
        font-size: 36px;
    }
}
@media (min-width: 1100px) and (max-width: 1199px) {
    .service_s1textbar{
        max-width: 800px;
    }
    .service_s1textbarinner{
        padding: 40px;
    }
    .service_s1title{
        font-size: 36px;
    }
}
@media (min-width: 1200px) and (max-width: 1299px) {
    .service_s1textbar{
        max-width: 850px;
    }
    .service_s1textbarinner{
        padding: 56px;
    }
}
@media (min-width: 1300px) and (max-width: 1399px) {
    .service_s1textbar{
        max-width: 850px;
    }
    .service_s1textbarinner{
        padding: 56px;
    }
}
@media (min-width: 1400px) and (max-width: 1499px) {
}
@media (min-width: 1500px) and (max-width: 1599px) {
}
@media (min-width: 1600px) and (max-width: 1699px) {

}
@media (min-width: 1700px) and (max-width: 1799px) {

}
@media (min-width: 1800px) and (max-width: 1920px) {

}