/* Button (input-like) */
.service-btn {
  padding:0px;
  text-align: left;
  border: none;
}

/* Remove default Bootstrap caret */
.service-btn::after {
    border: none;
  float: right;
  margin-top: 10px;
}

/* Focus state */
.service-btn:focus {
  box-shadow: none;
}

/* Dropdown menu */
.service-menu {
padding: 24px;
transform: translate(0px, 70px) !important;
}

/* Dropdown items */
.service-menu .dropdown-item {
  color: var(--Base-01, #383838);
font-family: Geist;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}

/* Hover state */
.service-menu .dropdown-item:hover {
  color: var(--Brand-gold, #9E8361);
  background: none;
font-family: Geist;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 24px */
}
*{
    margin: 0px;
    padding: 0px;
}
.contact-page{
    margin-top:0px;
   padding: 0px;
        display: flex;
        justify-content:space-between;
}
.contact-cont{
    display: flex;
width: 1200px;
max-width: 1200px;
padding: 0px 24px 104px 24px;
flex-direction: column;
align-items: center;
            margin-top: 80px;
        }
        .g-txt{
            color: var(--Brand-gold, #9E8361);
text-align: center;
margin: 0px;
font-family: Geist;
text-align: center;
text-transform: capitalize;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 32.4px; /* 180% */
        }
        .h-txt{
            color: var(--Base-Off-Black, #0F0F0F);
text-align: center;
margin: 0px;
font-family: Geist;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 56px */
letter-spacing: -1px;
text-transform: capitalize;
        }
        .cont-form{
        margin: 64px 0px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        }
        .n-a{
            display: flex;
align-items: center;
gap: 24px;
align-self: stretch;
        }
        .n-a .inp-box,.services-box{
            border-radius: 2px;
border: 1px solid var(--Base-04, #E9E9E9);
background-color: var(--Base-Off-White, #FAFAFA);
display: flex;
height: 64px;
padding: 20px 24px;
align-items: flex-start;
flex: 1 0 0;
        }
        .services-box:focus{
            border-radius: 2px;
border: 1px solid var(--Base-04, #E9E9E9);
background-color: var(--Base-Off-White, #FAFAFA);
display: flex;
height: 64px;
padding: 20px 24px;
align-items: flex-start;
flex: 1 0 0;
        }
       
        .inp-box:hover,.comment-box:hover{
            display: flex;
padding: 20px 32px;
flex-direction: column;
align-items: flex-start;
border-radius: 2px;
border: 1px solid var(--Brand-gold, #9E8361);
background: #FAF5F0;
        }
        .inp-box:focus,.comment-box:focus{
            border-radius: 2px;
border: 1px solid greenyellow;
background: #F0FAF0;
display: flex;
padding: 20px 32px;
flex-direction: column;
align-items: flex-start;
        }
         .n-a input[type="text"]::placeholder,.comment-box::placeholder{
            color: var(--Base-Off-Black, #0F0F0F);
font-family: Geist;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
         }
         .comment-box{
            border-radius: 2px;
border: 1px solid var(--Base-04, #E9E9E9);
background: var(--Base-Off-White, #FAFAFA);
display: flex;
height: 120px;
width: 100%;
padding: 20px 24px;
align-items:left;
resize: none;
align-self: stretch;
         }
         .comment-box::placeholder{
            text-align: left;
         }
         .term-bx{
            display: flex;
            gap: 8px;
            justify-content: center;
            align-items: center;
         }
         .term-chk{
width: 16px;
height: 16px;
flex-shrink: 0;
border: 1px solid var(--Core-Off-Black, #0F0F0F);
background: var(--Neutral-White, #FFF);
         }
         .term-txt{
            color: var(--Base-Off-Black, #0F0F0F);
margin: 0px;
font-family: Geist;
font-size: 16px;
font-style: normal;
font-weight: 400;
         }
         .recapcha-line{
            width: 100%;
         display: flex;
         justify-content:space-between;
         }
         .recapcha{
            width: 244px;
height: 64px;
aspect-ratio: 61/16;
         }
         .cont-btn{
            display: flex;
width: 300px;
height: 64px;
padding:0px 24px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 2px;
background: var(--Brand-gold, #9E8361);
         }
         .cont-btn:hover{
          border-radius: 2px;
border: 1px solid var(--Brand-gold, #9E8361);
background: var(--Base-White, #FFF);
         }
         .cont-btn:hover a {
  color: black; 
}
         .cont-btn a{
            color: var(--Base-White, #FFF);
text-align: center;
text-decoration: none;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 171.429% */
letter-spacing: 1.8px;
text-transform: uppercase;
         }
         .re-btn{
            display: flex;
            gap: 24px;
         }
         .add-info{
            display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
align-self: stretch;
         }
         .add-line{
            display: flex;
justify-content: space-between;
align-items: center;
gap: 40px;
align-self: stretch;
         }
         .add-line img{
            width:38%;
         }
         .add-main{
            display: flex;
         }
         .add-cont{
            display: flex;
padding: 32px 24px;
flex-direction: column;
align-items: center;
gap: 8px;
flex: 1 0 0;
border-radius: 2px;
border: 1px solid var(--Base-04, #E9E9E9);
         }
         .btxt{
            color: var(--Base-Off-Black, #0F0F0F);
text-align: center;
margin: 0px;
font-family: Geist;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 36px */
letter-spacing: -0.5px;
text-transform: capitalize;
         }

.cont-modal{
    display: flex;
width: 450px;
max-width: 450px;
padding: 40px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 24px;
border-radius: 8px;
background: var(--Base-White, #FFF);
}
.body-cont{
    display: flex;
flex-direction: column;
align-items: center;
gap: 16px;
align-self: stretch;
}









@media only screen and (max-device-width: 600px) {
    .contact-page{
        background: none;
        margin-top: 0px;
        padding: 0px;
    }
    .contact-cont{
        width: auto;
        max-width: 100%;
        padding: 0px 24px 24px 24px;
    }
    .cont-form {
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.n-a ,.recapcha-line,.add-main{
    flex-direction: column;
}
.re-btn{
    flex-direction: column-reverse;
    align-items: center;
}
.n-a .inp-box,.cont-btn{
    width: 100%;
}
.recapcha-line{
    gap: 24px;
}
.add-line img {
    width: 35px;
}
.add-line{
    gap: 14px;
}
.term-txt{
    text-align: center;
    font-size: 15px;
}
.cont-modal{
    padding: 32px;
}
.cont-btn{
    height: 48px;
}
}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1348px) {
   
}

@media only screen and (min-device-width: 1349px) and (max-device-width: 1439px) {
   
}
@media only screen and (min-device-width: 1440px) and (max-device-width: 1499px) {

}

@media only screen and (min-device-width: 1500px) and (max-device-width: 1599px) {

}

@media only screen and (min-device-width: 1600px) and (max-device-width: 1699px) {
    
}

@media only screen and (min-device-width: 1700px) and (max-device-width: 1799px) {
    
}

@media only screen and (min-device-width: 1800px) and (max-device-width: 1919px) {

}

@media only screen and (max-device-width: 1920px) {
   
}       