@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family:'Gilroy-Black';
  src: url(../fonts/Gilroy-Black.ttf);
}

body{
  font-family: 'Geist';
}



@media (min-width: 576px){
  .container, .container-sm {
      max-width: 540px;
  }
}
@media (min-width: 768px){
  .container, .container-md, .container-sm {
      max-width: 750px;
  }
}
@media (min-width: 992px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 970px;
  }
}
@media (min-width: 1080px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1030px;
  }
}
@media (min-width: 1100px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1100px;
  }
}
@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1200px;
  }
}
@media (min-width: 1400px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1200px;
  }
}
@media (min-width: 1500px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1200px;
  }
}
@media only screen and (min-width: 1600px) and (max-width: 1700px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1200px;
  }
}
@media only screen and (min-width: 1701px) and (max-width: 1800px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1200px;
  }
}
@media only screen and (min-width: 1801px) and (max-width: 1920px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1200px;
  }
}
@media only screen and (min-width: 1921px) and (max-width: 2880px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1200px;
  } 
}
.bg-image {
  object-fit: cover;
}
.bg-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.bg-image:not([class*=absolute]) {
  position: absolute;
}
section {
  padding: 80px  0;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
html {
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn-gold{
    display: flex;
    width: 160px;
    height: 48px;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 2px;
    background: var(--Brand-gold, #9E8361);
    color: var(--Base-White, #FFF);
    text-align: center;
    font-family: 'Montserrat';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
/* ---------------------------------------header-------------------------------- */
header{
    border-bottom: 1px solid var(--Base-04, #E9E9E9);
    background: var(--Base-White, #FFF);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100px;
}
.navbar{
  height: 100px;
}
.navbar-nav  .nav-link{
    color: var(--Base-01, #383838);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}
.navbar-expand-lg .navbar-nav {
    gap: 40px;
}
.navbar-brand img{
  width: 226px;
  height: 59px;
  max-width: 100%;
}
.right-side{
  display: none;
}
.nav-item span{
  display: none;
}

/* --------------------------------footer-------------------------- */
.left-side-footer h2{
    color: var(--Base-Off-Black, #0F0F0F);
    font-family: 'Geist';
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -1px;
    text-transform: capitalize;
}
.left-side-footer h2 img{
    width: 58.125px;
    height: 58.125px;
    max-width: 100%;
}
.footer-menu ul{
  padding-left: 0px;
  display: flex;
  gap: 8px;
  list-style: none;
  flex-direction: column;
}
.footer-menu ul a{
    color: var(--Base-Off-Black, #0F0F0F);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    text-decoration: none;
}
.right-side-footer p{
    color: var(--Base-Off-Black, #0F0F0F);
    text-align: right;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.right-side-footer .p-copy{
    color: var(--Base-03, #BDBDBD);
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.right-side-footer{
  text-align: right;
}
.right-side-footer img{
  width: 226px;
  height: 59px;
  max-width: 100%;
}
.right-side-footer .right-side-footer-div{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: end;
    gap: 144px;
}
.footer-div{
    padding: 72px 24px 72px 24px;
    background: var(--Base-Off-White, #FAFAFA);
}